.mainPage {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
	align-items: center;
	justify-content: center;
}

.mainPageContainer {
	max-width: 1200px;
	display: flex;
	align-items: center;
}

@media (max-width: 1200px) {
	.mainPageContainer {
		max-width: 970px;
	}
}
@media (max-width: 992px) {
	.mainPageContainer {
		max-width: 750px;
	}
}
@media (max-width: 767px) {
	.mainPageContainer {
		max-width: none;
	}
}
